<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Add Friend</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ratingsAndTags.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
      <div class="site-title">
        PriCosha
      </div>
      <div class="header">
          <p>{{user.f_name}} {{user.l_name}}</p>
          <a href="/home">Home</a>
      </div>
      <h2>Add Friend</h2>
      <ul>
          {% for fg in friend_groups %}
              <li>
                  <a href=/add/{{fg.fg_name}}>{{fg.fg_name}}</a>
              </li>
          {% endfor %}
      </ul>
    </body>
</html>
