<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PriCosha Home</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
  </head>
  <body>
    <h1>Welcome {{user}}</h1>

    <h2>Recents</h2>
    <table>
      {% for ci in contents %}
        <tr>
          <th>Name</th>
          <th>Content ID</th>
          <th>Timestamp</th>
          <th>File Path</th>
          <th>Posted By</th>
        </tr>
        <tr>
          <td>{{ci.item_name}}</td>
          <td>{{ci.item_id}}</td>
          <td>{{ci.post_time}}</td>
          <td>{{ci.file_path}}</td>
          <td>{{ci.email_post}}</td>
        </tr>
      {% endfor %}
    </table>
    <a href="/logout">Log out</a>
  </body>
</html>
