<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PriCosha Home</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="site-title">
      PriCosha
    </div>
    <div class="header">
        <p>{{name.f_name}} {{name.l_name}}</p>
        <a href="/manageTags">Manage Tags</a>
        <a href="/post">Post Content</a>
        <a href="/add">Add Friends</a>
        <a href="/remove">Remove Friends</a>
        <a href="/logout">Log out</a>
    </div>
    <h2>Recent Public Posts</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Content ID</th>
        <th>Timestamp</th>
        <th>File Path</th>
        <th>Posted By</th>
      </tr>
      {% for ci in contents %}
        <tr>
          <td>{{ci.item_name}}</td>
          <td>{{ci.item_id}}</td>
          <td>{{ci.post_time}}</td>
          {%if ci.file_path != None%}
            <td><a href={{ci.file_path}}>{{ci.file_path}}</a></td>
          {%else%}
            <td>{{ci.file_path}}</td>
          {%endif%}
          <td>{{ci.email_post}}</td>
        </tr>
      {% endfor %}
    </table>

    <h2>Shared Posts</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Content ID</th>
        <th>Timestamp</th>
        <th>File Path</th>
        <th>Posted By</th>
        <th>Tags and Ratings</th>
        <th>Tag User</th>
      </tr>
      {% for sci in sharedContents%}
        <tr>
          <td>{{sci.item_name}}</td>
          <td>{{sci.item_id}}</td>
          <td>{{sci.post_time}}</td>
          {%if sci.file_path != None%}
            <td><a href={{sci.file_path}}>{{sci.file_path}}</a></td>
          {%else%}
            <td>{{sci.file_path}}</td>
          {%endif%}
          <td>{{sci.email_post}}</td>
          <td> <form class="" action="/ratingsAndTags" method="POST">
            <input type="hidden" name="id" value={{sci.item_id}}>
            <input type="submit" value="View">
          </form> </td>
          <td> <form class="" action="/tagUser" method="POST">
            <input type="hidden" name="id" value={{sci.item_id}}>
            <input type="submit" value="Tag">
          </form> </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
