<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login to PriCoSha</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="site-title">
      PriCosha
    </div>
    <div class="login-form">
      <form action="/loginAuth" method="POST">
      	<input type="text" name = "email" placeholder="email" required/> <br>
      	<input type="password" name = "password" placeholder="password" required/><br>
      	<input type="submit" value = Login />
      	{% if error %}
      		<p class="error"><strong>Error:</strong> {{error}}</p>
      	{% endif %}
      </form>
    </div>
  </body>
</html>
