<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post to PriCoSha</title>
  </head>
  <body>
      <a href="/home">Home</a>
    <form action="/post_item" method="POST">
        <input type="text" name="item_name" placeholder="item name" required/> <br>
        <input type="text" name="file_path" placeholder="file path" required/> <br>
    	<input type="checkbox" id="is_pub" name="is_pub" value="1">
        <label for="is_pub">Make Public?</label> <br>
    	<input type="submit" value = "Post" />
    </form>
  </body>
</html>
