<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ratings for Item {{item}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ratingsAndTags.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="site-title">
      PriCosha
    </div>
    <div class="header">
        <p>{{user}}</p>
        <a href="/home">Home</a>
    </div>
    <h2>Tagged Persons</h2>
    <ul>
      {%for t in tags%}
        <li>{{t.f_name}} {{t.l_name}}</li>
      {%endfor%}
    </ul>

    <h2>Ratings</h2>
    <ul>
      {%for r in rates%}
        <li>{{r.emoji}} - {{r.email}} <i>{{r.rate_time}}</i></li>
      {%endfor%}
    </ul>

    <h2>Comments</h2>
    <ul>
      {%for c in comments%}
        <li>{{c.comment}} - {{c.email}} <i>{{c.comment_time}}</i></li>
      {%endfor%}
    </ul>

    <h3>Add Comment</h3>
    <form class="" action="/comment" method="POST">
      <textarea name="body" placeholder="Add text here..." rows="10", cols="100" required></textarea>
      <input type="hidden" name="id" value={{item}}>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
