<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PriCosha - Tag User</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tagUser.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="site-title">
      PriCosha
    </div>
    <div class="header">
        <p>{{username.f_name}} {{username.l_name}}</p>
        <a href="/home">Home</a>
    </div>
    <div class="tag-form">
      <form action="/tag" method="POST">
      	<input type="text" name = "email" placeholder="email" required/> <br>
        <input type="hidden" name="id" value={{item}}>
      	<input type="submit" value = Tag />
      	{% if error %}
      		<p class="error"><strong>Error:</strong> {{error}}</p>
      	{% endif %}
      </form>
    </div>
  </body>
</html>
