body, html{
  font-family: 'Raleway', sans-serif;
}

table, th, td{
  border: 2px solid black;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  padding: 5px;
}

.site-title{
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}


.header{
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #111111;
}

.header a, .header p{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

input[type=submit]{
  background-color: #111111;
  color: white;
  padding: 4px 5px;
}
